body {
    width: 100%;
    margin-top: 5%;
    max-width: 100%;
    overflow-x: hidden;
}

li {
    padding: 0;
    margin: 0;
}

code {
  background-color: #dedede;
}

.matrix-web {
    width: 35%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: -30%;
    
}

.timeline-data {
    max-height: 500px;
    overflow-y: auto;
}

.prompt {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%; /* Full width */
    margin-left: -8px;
    margin-right: 8px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#msg-prompt {
    width: 100%;
}

.embed {
    margin-left: 2%;
}
